  <div class="container">

    <!-- footer -->
    <div class="row">
      <div class="col-sm-12">
        <hr />
        <p class="pull-right">
          <a href="#top" rel="tooltip" title="Top"><i class="glyphicon glyphicon-chevron-up"></i></a>
        </p>
        <p>
          <small>
            &copy; 2014 - Oceanic Destiny. Content and media are the property of their respective owners, All Rights Reserved.<br>
            <a href="/changelog">Development Changelog</a> &bull; <a href="http://seven-six.com.au">Developer</a>
          </small>
        </p>
      </div>
    </div>
    <!-- footer -->

  </div>

  </body>
</html>