{{>head}}
{{>menu}}

{{! start of content }}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>About Oceanic Destiny</h1>
      <hr />
      <p class="lead">
        We are a community project. A tight-knit, friendly group of Guardians based in AU/NZ hoping to make Destiny awesome for all.
        The project aims to be a Guardian tracker and index of all players of Destiny in AU/NZ.
      </p>
      <p class="lead">
        So if you're a Guardian based in AU/NZ, love Destiny, and want to meet other awesome players in your local region, then
        you are MOST welcome! <a href="/register"><b>Join us here!</b></a> or if you are already a
        member, join our clan! <a href="https://www.bungie.net/en/Clan/Forum/194990"><b>Oceanic Destiny [OCD]</b></a>!
      </p>
      <p>
        Headed up by <a href="https://www.bungie.net/en/Profile/254/6009577"><b>jaytwitch</b></a>, and <a href="https://www.bungie.net/en/Profile/254/4288661"><b>KRiSX</b></a> - the Oceanic Destiny project started out as an idea for a public LFG/LFM service for Guardians who play Destiny in Australia and New Zealand.
      </p>
    </div>
  </div>
</div>

{{! end of content }}

{{>foot}}