{{>head}}
{{>menu}}

{{! start of content }}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Development ChangeLog</h1>
      <hr />
      <p class="lead">Sep 11, 2014</p>
      <dl>
        <dt><b>1.0.1</b></dt>
        <dd>
          <ul>
            <li> Integrated Bungie Destiny news RSS feed</li>
            <li> Modified DB table for users</li>
            <li> Parsed Bungie.net endpoints for User avatars and username matchup</li>
            <li> Started parsing custom Bungie API interface for general Guardian stats in the index</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>

{{! end of content }}

{{>foot}}