{{>head}}
{{>menu}}

{{! start of content }}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Contact Me</h1>
      <hr />
      <p class="lead">
        Another example static page.
      </p>
    </div>
  </div>
</div>

{{! end of content }}

{{>foot}}