{{>head}}
{{>menu}}

{{! start of content }}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Login to Oceanic Destiny</h1>
      <hr />
      <form class="form-horizontal" role="form" method="POST" action="/">
        <div class="form-group">
          <label for="login" class="col-md-4 control-label">Login</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="login" name="login" placeholder="Your username or email address">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-md-4 control-label">Password</label>
          <div class="col-md-5">
            <input type="password" class="form-control" id="password" name="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12" style="text-align: center; ">
            <input type="hidden" name="postType" value="login">
            <button class="btn btn-lg btn-success">Log into Oceanic Destiny</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{! end of content }}

{{>foot}}